#me {
	background: var(--clr-off-black);
	color: var(--clr-off-white);

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-section);
}

#me-slideshow {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 50ch;
}

.slide {
	flex: 100% 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-rad);
	background: hsla(109, 0%, 90%, 0.05);
	padding: 1.5rem 1rem;
	transition: transform 0.5s ease-in-out;
}
.slide:nth-child(odd) {
	transform: translateX(50%);
}
.slide:nth-child(even) {
	transform: translateX(-50%);
}
.slide:first-child {
	padding: 0;
}
.slide:first-child figcaption {
	padding: 1.5rem 1rem;
}

.slide.show {
	transform: translateX(0%) !important;
}

.slide + .slide {
	margin-top: 2rem;
}

.slide figcaption {
	text-align: center;
	padding: 1.5rem 0 0;
	line-height: 1.25;
	font-family: var(--ff-secondary);
	font-size: var(--fs-p);
}

.slide img {
	width: 100%;
}

.hobby-slide .fas {
	font-size: 5rem;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-color: var(--aboutmeiconBG);
	background-image: linear-gradient(-25deg, var(--aboutmeiconBG), white);
}

.hobby-slide .fas.fa-basketball-ball {
	--aboutmeiconBG: var(--clr-bball);
}

.hobby-slide .fas.fa-hiking {
	--aboutmeiconBG: var(--clr-hiker);
}

.hobby-slide .fas.fa-music {
	--aboutmeiconBG: var(--clr-music);
}
