main {
	height: 85vh;
	background-image: url('../images/contact/geo-cubes.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	display: block;
	margin-bottom: 50px; /* clockwise starting at noon */
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	color: white;
	font-size: 15px;
	width: 97%;
}

label {
	font-weight: bold;
	font-size: 20px;
	width: inherit;
}

h1 {
	font-size: 50px;
}

nav a {
	width: 25%;
	text-align: center;
	height: 100%;
}

#contactTab {
	color: #3fd96d;
	background-color: white;
	border-radius: 12px;
}

form {
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-radius: 12px;
}

form button {
	border-style: solid;
	border-color: #3fd96d;
	background-color: #3fd96d;
	border-radius: 10px;
}

/* Experiments Styles */

#transformationTest {
	width: 200px;
	height: 200px;
	background-color: red;
}
#transformationTest:hover {
	transform: translate(100px, 0px);
}

#transitionTest {
	width: 200px;
	height: 200px;
	background-color: blue;
	transition: width 2s;
}
#transitionTest:hover {
	width: 500px;
}
