#contact {
	background: var(--clr-off-white);
	background-image: linear-gradient(
		to bottom right,
		var(--clr-primary),
		var(--clr-tag-bg)
	);

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-section);
}

#contact h2 {
	color: var(--clr-off-black);
}

#contact form {
	width: 100%;
	max-width: 50ch;
}

.contact-input-group {
	display: flex;
	width: 100%;
	align-items: center;
	background: var(--clr-form-div-bg);
	border-radius: var(--border-rad);
	border: var(--border-form-group);
	transition: box-shadow 250ms linear;
	overflow: hidden;
}

.contact-input-group + .contact-input-group {
	margin: 0.75rem 0;
}

.contact-input-group:hover,
.contact-textarea-group:hover {
	box-shadow: 0 0 10px 0 var(--clr-off-black);
}

.contact-input-group label,
.contact-textarea-group label {
	display: flex;
	justify-content: center;
	flex-basis: 25%;
	padding: 0.5rem 0.75rem;
	background: var(--clr-form-div-bg);
	border-radius: var(--border-rad) 0 0 var(--border-rad);
	font-weight: bold;
	color: hsl(211, 100%, 45%);
}

.contact-input-group input,
.contact-textarea-group textarea {
	overflow-x: scroll;
	flex-basis: 70%;
	margin: 0 0 0 0.5rem;
	background: transparent;
	border: none;
	font-family: var(--ff-secondary);
	font-size: 1.25rem;
}

.contact-input-group input:focus {
	outline: none;
	border-bottom: 1px solid hsla(109, 0%, 90%, 1);
}

.contact-textarea-group {
	background: var(--clr-form-div-bg);
	border: var(--border-form-group);
	border-radius: var(--border-rad);
	transition: box-shadow 250ms linear;
}

.contact-textarea-group label {
	display: block;
	border-radius: var(--border-rad) 0 0 0;
}

.contact-textarea-group textarea {
	margin: 0.5rem 0 0 0.75rem;
	width: 95%;
	resize: none;
}

.contact-textarea-group textarea:hover,
.contact-textarea-group textarea:focus {
	outline: none;
}

#contact button {
	display: block;
	padding: 0.5rem 0.75rem;
	margin: 0.75rem auto;
	background: hsla(195, 82%, 76%, 1);
	border: 1px solid hsla(109, 0%, 90%, 1);
	font-weight: bold;
	font-size: 1.15rem;
	font-family: Montserrat;
	border-radius: var(--border-rad);
	background: var(--clr-form-div-bg);
	color: hsl(211, 100%, 45%);
	transition: background-color 250ms linear, color 250ms linear,
		transform 250ms linear;
}

#contact button:hover,
#contact button:focus {
	background-color: var(--clr-primary);
	color: var(--clr-off-white);
	transform: scale(1.25);
}

@media screen and (min-width: 550px) {
	.contact-textarea-group label {
		padding-left: 6%;
	}

	.contact-textarea-group textarea {
		margin-left: 6%;
		width: 90%;
	}
}

@media screen and (min-width: 1200px) {
	#me-slideshow {
		display: block;
		columns: 2;
		column-gap: 2rem;
		column-rule: 1px dotted #555;
		max-width: 100ch;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	.slide:nth-child(odd),
	.slide:nth-child(even) {
		transform: translateX(50%);
	}
	.slide:first-child {
		transform: translateX(0);
	}
}

@media screen and (min-width: 1500px) {
	#contact form {
		max-width: 55ch;
	}
}
