@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
	--clrPrimary: hsl(211, 100%, 65%);
	--clrDesign2: hsl(40, 83%, 66%);
	--clrDesign3: hsl(350, 100%, 88%);
	--clrDesign4: hsl(170, 53%, 43%);
	--clrDesign5: hsl(0, 84%, 68%);
	--clrOffBlack: #333;
	--clrOffWhite: #dfdfdf;
	--clrFormDivBG: hsla(109, 0%, 90%, 0.25);
	--clrTagBG: hsl(181, 100%, 65%);
	--borderFormDiv: 1px solid hsla(109, 0%, 90%, 1);
	--padSection: 3rem 1rem;
	--radiusRound: 8px;
	--fontH1: 4.5rem;
	--fontH2: 3.5rem;
	--fontH3: 1.5rem;
	--fontPgraph: 1.5rem;
	--fontFamPrime: Montserrat;
	--fontFamSnd: 'Nanum Pen Script';
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--fontFamPrime);
	background: hsla(109, 0%, 23%, 1);
	scroll-behavior: smooth;
}

/* TYPOGRAPHY */

h1 {
	font-weight: 900;
	font-size: var(--fontH1);
	color: var(--clrPrimary);
	font-family: var(--fontFamSnd);
}

h2 {
	font-size: var(--fontH2);
	text-align: center;
	padding-bottom: 3rem;
	color: var(--clrOffWhite);
	font-family: var(--fontFamSnd);
}

h3 {
	color: var(--clrSecondary);
	font-size: var(--fontH3);
	padding: 1rem;
}
