@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* CUSTOM PROPERTIES */

:root {
	/* color */
	--clr-primary: hsl(211, 100%, 65%);
	--clr-bball: hsl(40, 83%, 66%);
	--clr-hiker: hsl(170, 53%, 43%);
	--clr-music: hsl(0, 84%, 68%);
	--clr-off-black: #333;
	--clr-off-white: #dfdfdf;
	--clr-form-div-bg: hsla(109, 0%, 90%, 0.25);
	--clr-tag-bg: hsl(181, 100%, 65%);
	--clr-exp-card-bg: hsl(0, 0%, 25%);
	--clr-exp-card-tools-bg: hsla(359, 1%, 29%, 1);

	/* border */
	--border-form-group: 1px solid hsla(109, 0%, 90%, 1);

	/* border radius */
	--border-rad: 8px;

	/* padding */
	--padding-section: 3rem 1rem;
	--padding-exp: 1rem;

	/* font size */
	--fs-h1: 4.5rem;
	--fs-h2: 3.5rem;
	--fs-h3: 1.5rem;
	--fs-p: 1.5rem;

	/* font family */
	--ff-primary: Montserrat;
	--ff-secondary: 'Nanum Pen Script';

	/* show animation (intersection observer) */
	--show-duration: 0.5s;
	--show-timing: ease-in-out;
}

/* DEFAULT RESETS */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--ff-primary);
	background: hsla(109, 0%, 23%, 1);
	scroll-behavior: smooth;
}

/* UTILITY CLASSES */

.line-break {
	display: block;
	padding: 0.25em;
}

/* TYPOGRAPHY */

h1 {
	font-weight: 900;
	font-size: var(--fs-h1);
	color: var(--clr-primary);
	font-family: var(--ff-secondary);
}

h2 {
	font-size: var(--fs-h2);
	text-align: center;
	padding-bottom: 3rem;
	color: var(--clr-off-white);
	font-family: var(--ff-secondary);
}

/* LAYOUT */

main {
	overflow-x: hidden;
}
