:root {
	--customgreen: #3fd96d;
	--vcrHomeDesktopWidth: 976px;
	--vcrHomeMobileWidth: 414px;
	--servicemateWidth: 405px;
}

nav a {
	width: 25%;
	text-align: center;
	height: 100%;
}

#projectsTab {
	color: var(--customgreen);
	color: #3fd96d;
	background-color: white;
	border-radius: 12px;
}

h1 {
	text-align: center;
	font-size: 50px;
}

.jumbo {
	position: relative;
	margin: 0 auto; /* centers img and div */
	max-width: var(--vcrHomeDesktopWidth); /* width of image */
	display: flex;
	justify-content: space-between;
}

.projectDescription {
	position: absolute;
	color: white;
	bottom: 0;
	background-color: rgb(0, 0, 0); /* fallback */
	background-color: rgba(0, 0, 0, 0.85);
	width: 100%;
}

#servicemateDescription {
	max-width: var(--servicemateWidth);
}

h3 {
	color: var(--customgreen);
}

#servicemateJumbo {
	margin-top: 75px;
}

@media screen and (max-width: 976px) {
	.jumbo {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		position: static;
	}

	.projectDescription {
		position: static;
		padding: 10px;
	}

	#vcrDescription {
		max-width: var(--vcrHomeMobileWidth);
	}

	#servicemateDescription {
		max-width: var(--servicemateWidth);
	}

	#servicemateLogin {
		display: none;
	}

	img {
		max-width: 365px;
	}
}
