@use 'master' as *;
@use 'utilities' as *;
@use 'header' as *;
@use 'footer' as *;
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&text=abcdefghijklmnopqrstuvwxyz%20&display=swap');

.xp-divider {
	width: 100%;
	height: calc($padding-layout-inline / 2);
}

.xp {
	display: grid;
	grid-template-areas:
		'flag'
		'company'
		'job'
		'services'
		'tech'
		'quote';
	gap: calc($gap-flex);
	position: relative;
	padding: $padding-layout;
	background-color: rgb(black, 0.95);
	background-size: cover;
	background-position: top center;
	background-blend-mode: multiply;
	-transition: clip-path 250ms ease-in-out;
}
.xp:nth-of-type(odd) {
	-clip-path: inset(0 96% 0 0);
}
.xp:nth-of-type(even) {
	text-align: right;
	-clip-path: inset(0 0 0 96%);

	h3,
	.xp-job {
		margin-left: auto;
	}

	ul {
		flex-direction: row-reverse;
	}
}

.xp.show {
	-clip-path: inset(0 0 0 0);
}

#xp-mc {
	background-image: url('../images/xp/mc-home.jpg');
}

#xp-ivk {
	background-image: url('../images/xp/ivk-home.jpg');
}

#xp-bca {
	background-image: url('../images/xp/bca-home.jpg');
}

#xp-vcr {
	background-image: url('../images/projs/vcr-home.jpg');
}

#xp-arm {
	background-image: url('../images/projs/arm-home.jpg');
}

.xp-flag {
	grid-area: flag;
	width: max-content;
	margin: 0 auto;
	padding: calc($padding-elem / 2);
	border: 1px solid $clr-neon-green;
	font-family: Overpass Mono;
	font-size: $fs-sm;
	font-weight: $fw-light;
	color: $clr-neon-green;
}

.xp-company {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc($gap-flex / 2);
	grid-area: company;

	img {
		height: clamp(75px, 12vh, 150px);
	}
}

.xp-job {
	grid-area: job;
	max-width: 75ch;

	p {
		padding: $padding-elem;
		background: $clr-primary;
	}
	p:last-child {
		padding-top: 0;
	}

	&__tagline {
		font-weight: $fw-semi-bold;
	}
}

.xp-services,
.xp-tech {
	overflow: hidden;

	ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		gap: calc($gap-flex / 2);
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		font-weight: $fw-semi-bold;
	}

	li {
		flex: 0 0 auto; // circle-check is 16px wide
		scroll-snap-align: start;
		padding: $padding-elem;
		background: $clr-primary;
	}

	i {
		margin-right: 1ch;
	}
}

.xp-services {
	grid-area: services;
}

.xp-tech {
	grid-area: tech;
}

.ts {
	color: $clr-ts;
}

.xp-quote {
	grid-area: quote;
	display: grid;
	grid-template-areas:
		'left	text	right'
		'.		author	.';
	gap: 0.5rem;
	padding-top: calc($padding-layout-block - $gap-flex);
	max-width: 45ch;
	margin: 0 auto;
	font-weight: $fw-semi-bold;
	text-align: center;

	.fa-quote-left,
	.fa-quote-right {
		font-size: 1.75em;
		color: rgb($clr-complement-light, 0.75);
	}

	.fa-quote-left {
		grid-area: left;
	}
	.fa-quote-right {
		align-self: flex-end;
		grid-area: right;
	}
}
.xp-quote::after {
	content: attr(data-author);
	grid-area: author;
	font-weight: $fw-regular;
}

@media screen and (min-width: 750px) {
	.xp {
		align-items: flex-start;
	}
	.xp:nth-of-type(odd) {
		grid-template-areas:
			'flag       flag'
			'company    job'
			'company    services'
			'company    tech'
			'quote      quote';
		grid-template-columns: 1fr 2fr;
		text-align: right;

		h3,
		.xp-job {
			margin-left: auto;
		}

		ul {
			flex-direction: row-reverse;
		}
	}
	.xp:nth-of-type(even) {
		grid-template-areas:
			'flag       flag'
			'job        company'
			'services   company'
			'tech       company'
			'quote      quote';
		grid-template-columns: 2fr 1fr;
		text-align: left;

		h3,
		.xp-job {
			margin-right: auto;
			margin-left: 0;
		}

		ul {
			flex-direction: row;
		}
	}

	.xp-company {
		gap: $gap-flex;

		img {
			height: clamp(75px, 15vh, 200px);
		}
	}

	.xp-quote {
		font-size: $fs-ml;
	}
}

@media screen and (min-width: 1250px) {
	.xp {
		padding-left: 15vw;
		padding-right: 15vw;
		-transition: clip-path 500ms ease-in-out;
	}

	.xp-divider {
		height: 1.5rem;
	}
}

@media screen and (min-width: 1500px) {
	.xp {
		padding-left: 25vw;
		padding-right: 25vw;
	}
}
